/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-size: 62.5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: black;  
}

* {
    /* border:1px solid black;  */
    text-decoration: none;
}

/* --------- Page styles begin below this line ----------------*/

html{
    background: #FFFFFF;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background:#FFFFFF;
    width: 100%;
    position: fixed; 
}

.DevDeskLogo{
    font-size: 1.5rem;
    
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    font-size: 1.2rem;
    width: 40%;
}

.WebApps-container{
    padding-right: 10%;
}

.WebApps-link{
    background-color: #4571C9;
    border-radius: 12px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.5rem;
    color: white;
}

/*  -------------  Main Content --- This is where your eyes will hit first */
.Main-Call-To-Action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    /* padding-bottom: 10%;  */
    height: 60vh;
    background: #1B212C;
    
}

.Main-Call-To-Action h1{
    font-size: 4.5rem;
    margin-bottom: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Main-Call-To-Action p{
    font-size: 3rem;
    width: 55%;
    margin-bottom: 2%;
    color:#EC3944;
    font-family: 'Times New Roman', Times, serif;
}

.Main-Call-To-Action a{
    font-size: 1.5rem;
    background: #4571C9;
    border-radius: 12px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}

/* ------------ Three blurbs with content --------------------- */
.News-Updates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background:#F7F7F7;
    padding-top: 2%;
    height: 45vh;
    padding-bottom:4%;
}

.square-preview {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 30%;
    border: 1px solid black;
    border-radius: 12px;
}

.square-preview h2 {
    font-size: 1rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 8%;
    padding-bottom: 1%;
  
}

.square-preview h3 {
    font-size: 1.5rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 8%;
}

.square-preview p {
    font-size: 1rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 8%;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.square-preview-image {
    
    background: gray;
}
.square-preview a{
    font-size: 1rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 8%;
    flex-grow: 1;
    
    
}



/* ------ free trial section -----------------------------------*/
.free-trial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background: #F9EFE6;
}

.free-trial h2{
    font-size: 2.5rem;
    
    color:#1B212C;
    
}

.free-trial a{
    font-size: 1.5rem;
    background: #4571C9;
    border-radius: 12px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}

/* ----------footer styles-------------------------------------  */
footer{
    display: flex;    
    flex-direction: column;
    justify-content: flex-end;
   
    height: 55vh;
    background: #EC3944;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 20vh;
  
}

.links-container{
    display: flex;
    flex-direction: column;
    
}

.links-container nav{
    display: flex;
    flex-direction: column; 
    font-size: 1rem;
}

.links-container h3 {
    font-size: 1.5rem;
    padding-bottom: 20%;
    color: white;
}

.links-container a{
    padding-bottom: 8%;
    color:#A9A9A9;
}
/* -------------------------------------------------------------- */
.EmailForm-SocialMedia-Container{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;   
    
    background: #1B212C;
    
}

.EmailForm-SocialMedia-Container form {  
    width: 30%;
}

.EmailForm-SocialMedia-Container form input{
    border: 1px solid black;
    padding: 7%;
    width: 90%; 
    /* flex-grow: 1; */
}

.EmailForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.EmailForm h3 {
    font-size: 1rem;
    margin-bottom: 2%;
}

.EmailForm p {
    font-size: 1rem;
}

.material-icons{
    font-size: 4rem;
}

/* -------------------------------------------------------------- */

.socialMedia-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    padding-right: 2%;
}

.socialMedia-icons a {
    padding-left: 2%;
}

.copywrite-info {
    font-size: 1rem;
}