/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-size: 62.5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: black;  
}

* {
    /* border:1px solid black;  */
    text-decoration: none;
}

/* --------- Page styles begin below this line ----------------*/

html{
    background: #FFFFFF;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background:#FFFFFF;
    width: 100%;
    position: fixed; 
}

.DevDeskLogo{
    font-size: 1.5rem;
    
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    font-size: 1.2rem;
    width: 40%;
}

.WebApps-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    
    width: 20%;
}

.WebApps-link{
    background-color: #4571C9;
    border-radius: 12px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5rem;
    color: white;
}

/*  -------------  Main Content --- This is where your eyes will hit first */
.Main-Call-To-Action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    /* padding-bottom: 10%;  */
    height: 60vh;
    background: #1B212C; 
}

.Main-Call-To-Action h1{
    font-size: 4.5rem;
    margin-bottom: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Main-Call-To-Action p{
    font-size: 3rem;
    width: 55%;
    margin-bottom: 2%;
    color:#EC3944;
    font-family: 'Times New Roman', Times, serif;
}

.Main-Call-To-Action a{
    font-size: 1.5rem;
    background: #4571C9;
    border-radius: 12px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}

/* ------------ Three blurbs with content --------------------- */
.News-Updates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:#F7F7F7;
    height: 50vh;
    padding-top: 4%;
    padding-bottom:4%;
    padding-left: 5%;
    padding-right: 5%;
}

.square-preview {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 30%;
    border: 1px solid black;
    border-radius: 12px;
    align-items: center;
}

.square-preview h2 {
    font-size: 1rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 7%;
    padding-bottom: 1%;
  
}

.square-preview h3 {
    font-size: 1.5rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 5%;
    color:#1B212C;
}

.square-preview p {
    font-size: 1.2rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 5%;
    color:#1B212C;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.square-preview a{
    font-size: 1rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 8%;
    flex-grow: 1;
    color:#1B212C;
}



/* ------ free trial section -----------------------------------*/
.free-trial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: #F9EFE6;
}

.free-trial h2{
    
    padding-bottom: 2%;
    font-size: 2.5rem;
    
    color:#1B212C;
    
}

.free-trial a{
    font-size: 1.5rem;
    background: #4571C9;
    border-radius: 12px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}

.free-trial-person-1 {
    width: 25vh;
    align-self: start;
    padding-left:5%;
    padding-top: 2%;
}

.free-trial-person-1 img{
    border-radius: 15px;
}
/* ----------footer styles-------------------------------------  */
footer{
    display: flex;    
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
    background: #EC3944;
    /* padding-right: 5%; */
    /* padding-left: 5%; */
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25vh;
    
}

.links-container{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    padding-left: 5%; 
}

.links-container nav{
    display: flex;
    flex-direction: column; 
    font-size: 1rem;
}

.links-container h3 {
    font-size: 1.5rem;
    padding-bottom: 20%;
    color: #1B212C;
}

.links-container a{
    padding-bottom: 8%;
    /* color:#A9A9A9; */
    color:#1B212C;
}
/* -------------------------------------------------------------- */
.EmailForm-SocialMedia-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;   
    background: #1B212C;
    padding-right: 5%;
    padding-left: 5%;
}

.EmailForm-SocialMedia-Container form {  
    width: 30%;
}

.EmailForm-SocialMedia-Container form input{
    border: 1px solid black;
    padding: 7%;
    width: 90%; 
    /* flex-grow: 1; */
}

.EmailForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.EmailForm h3 {
    font-size: 1.5rem;
    margin-bottom: 2%;
    color: white;
}

.EmailForm p {
    font-size: 1rem;
    color: white;
}

.material-icons{
    font-size: 4rem;
    color: #EC3944;
}

/* -------------------------------------------------------------- */

.socialMedia-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    padding-right: 2%;  
}

.socialMedia-icons a {
    padding-left: 2%;
}

.socialMedia-icons a img {
    color: white;
}
.copywrite-info {
    font-size: 1rem;
    padding-left: 5%;
}

/* -------------------Media Queries --------------------- */

@media (max-width: 1024px){
    .Main-Call-To-Action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        height: 70vh;
        background: #1B212C; 
    }

    .Main-Call-To-Action h1{
        font-size: 4rem;
        margin-bottom: 2%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .Main-Call-To-Action p{
        font-size: 2rem;
        width: 55%;
        margin-bottom: 2%;
        color:#EC3944;
        font-family: 'Times New Roman', Times, serif;
    }
    
   /* ------------- width 1024px News Updates Section----- */

   .News-Updates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:#F7F7F7;
    height: 70vh;
    padding-top: 4%;
    padding-bottom:4%;
    padding-left: 5%;
    padding-right: 5%;
    }

    /* ------ Width 1024px Free-Trial section------------ */

    .free-trial {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 75vh;
        background: #F9EFE6;
    }
    
    .free-trial h2{
        padding-bottom: 2%;
        padding-top: 3%;
        font-size: 2.5rem;
        color:#1B212C;
    }
    
    .free-trial-person-1 {
        width: 35vh;
        align-self: start;
        padding-left:5%;
        padding-top: 2%;
        
    }

    /* ----------- 1024px Footer Section--------------- */

    footer{
        display: flex;    
        flex-direction: column;
        justify-content: flex-end;
        height: 80vh;
        background: #EC3944;
      
    }
    
    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40vh;   
    }
    
    .links-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 5%;
        padding-left: 5%; 
    }
    
}

@media (max-width: 800px){

    .Main-Call-To-Action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        height: 75vh;
        background: #1B212C; 
    }

    .Main-Call-To-Action h1{
        font-size: 3rem;
        margin-bottom: 2%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .Main-Call-To-Action p{
        font-size: 2rem;
        width: 70%;
        margin-bottom: 2%;
        color:#EC3944;
        font-family: 'Times New Roman', Times, serif;
    }
    
   /* ------------- width 800px News Updates Section----- */

   .News-Updates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:#F7F7F7;
    height: 70vh;
    padding-top: 4%;
    padding-bottom:4%;
    padding-left: 5%;
    padding-right: 5%;
    }

    .square-preview {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        width: 32%;
        border: 1px solid black;
        border-radius: 12px;
        align-items: flex-start;
    }
    
    .square-preview h2 {
        font-size: 1rem;
        padding-right: 8%;
        padding-left: 8%;
        padding-top: 7%;
        padding-bottom: 1%;
      
    }
    
    .square-preview h3 {
        font-size: 1.5rem;
        padding-right: 8%;
        padding-left: 8%;
        padding-top: 3%;
        padding-bottom: 5%;
        color:#1B212C;
    }
    
    .square-preview p {
        font-size: 1.2rem;
        padding-right: 8%;
        padding-left: 8%;
        padding-top: 3%;
        padding-bottom: 5%;
        color:#1B212C;
    }

    .square-preview-image{
        flex-grow: 2;
    }
    
    /* ------ Width 800px Free-Trial section------------ */

    .free-trial h2{
        padding-bottom: 2%;
        padding-top: 3%;
        font-size: 2rem;
        color:#1B212C;
    }
    
    .free-trial-person-1 {
        width: 40vh;
        align-self: start;
        padding-left:5%;
        padding-top: 2%;
    }

    /* ----------- width 800px Footer Section--------------- */

    footer{
        display: flex;    
        flex-direction: column;
        justify-content: flex-end;
        height: 80vh;
        background: #EC3944;
      
    }
    
    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40vh;   
    }
    
    .links-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 5%;
        padding-left: 5%; 
    }
    
}

@media (max-width: 500px){}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */


/* ----------------About.html styles below------------------------------- */

/* -----------mission statement styles------------ */
.mission-statement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    /* padding-bottom: 10%;  */
    height: 35vh;
    background: #1B212C;        
}
    
.mission-statement h1{
    font-size: 4rem;
    margin-bottom: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.mission-statement p{
    font-size: 3rem;
    width: 55%;
    margin-bottom: 2%;
    color:#EC3944;
    font-family: 'Times New Roman', Times, serif;
}

.mission-statement a{
    font-size: 1.5rem;
    background: #4571C9;
    border-radius: 12px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}

/* ------------Team Profile styles---------------- */

.meet-the-team{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    background: #F7F7F7;
}

.meet-the-team h1{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#1B212C;
}

.team-profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background:#F7F7F7;
    height: 95vh;
    padding-top: 4%;
    padding-bottom:4%;
    padding-left: 5%;
    padding-right: 5%;
}

.team-member-square {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #FFFFFF;
    width: 30%;
    border: 1px solid black;
    border-radius: 12px;
    align-items: center;
    margin-bottom: 3%;    
}

.team-member-square img {
    /* border-radius: 12px; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.team-member-square h2 {
    font-size: 1.5rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 7%;
    padding-bottom: 1%;
    color:#1B212C;
  
}

.team-member-square h3 {
    font-size: 1rem;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 5%;
    color:#1B212C;
}

/* ----------- Free Trial section------------------ */

.free-trial-person-2 {
    width: 40vh;
    align-self: flex-end;
    padding-right:5%;
    padding-top: 2%;
}

.free-trial-person-2 img{
    border-radius: 15px;
}